*{
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 30px;
}

.caja1{
	width: 200px;
	height: 200px;
	background-color: beige;
	margin: auto;
	border:1px solid black;
}
.caja2{
	width: 200px;
	height: 200px;
	background-color: lightcoral;
	margin: auto;
	border:1px solid black;
}
